.navbar-home-arrow {
  background-color: white;
  clip-path: path("M5 13H16.865L13.232 17.36C12.878 17.784 12.936 18.415 13.36 18.768C13.785 19.122 14.415 19.064 14.769 18.64L19.769 12.64C19.808 12.593 19.827 12.538 19.856 12.486C19.88 12.444 19.909 12.408 19.927 12.362C19.972 12.247 19.999 12.126 19.999 12.004C19.999 12.003 20 12.001 20 12C20 11.999 19.999 11.997 19.999 11.996C19.999 11.874 19.972 11.753 19.927 11.638C19.909 11.592 19.88 11.556 19.856 11.514C19.827 11.462 19.808 11.407 19.769 11.36L14.769 5.36C14.57 5.123 14.286 5 14 5C13.774 5 13.547 5.076 13.36 5.232C12.936 5.585 12.878 6.216 13.232 6.64L16.865 11H5C4.448 11 4 11.448 4 12C4 12.552 4.448 13 5 13Z");
}

.slider-video-right-arrow,
.slider-video-left-arrow {
  background-color: #475569;
  clip-path: path("M17.9991 13.4213C17.2191 14.2013 17.2191 15.4613 17.9991 16.2413L25.7591 24.0013L17.9991 31.7613C17.2191 32.5413 17.2191 33.8013 17.9991 34.5813C18.7791 35.3613 20.0391 35.3613 20.8191 34.5813L29.9991 25.4013C30.7791 24.6213 30.7791 23.3613 29.9991 22.5813L20.8191 13.4013C20.0591 12.6413 18.7791 12.6413 17.9991 13.4213Z");
}

.slider-video-left-arrow {
  transform: rotatez(180deg);
}

.slider-media-right-arrow,
.slider-media-left-arrow {
  background-color: white;
  clip-path: path("M17.9991 13.4213C17.2191 14.2013 17.2191 15.4613 17.9991 16.2413L25.7591 24.0013L17.9991 31.7613C17.2191 32.5413 17.2191 33.8013 17.9991 34.5813C18.7791 35.3613 20.0391 35.3613 20.8191 34.5813L29.9991 25.4013C30.7791 24.6213 30.7791 23.3613 29.9991 22.5813L20.8191 13.4013C20.0591 12.6413 18.7791 12.6413 17.9991 13.4213Z");
}

.slider-media-left-arrow {
  transform: rotatez(180deg);
}

/* Academy hero section background images */
.academy-home-page {
  background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/ccbp-website/academy/hero-bg-image.svg");
  background-size: cover;
  background-position: 0% 0%;
}

@media screen and (min-width: 1920px) {
  .academy-home-page {
    background-position: 50% 100%;
  }
}

/* Awards section background images */
.awards {
  background-image: url("https://nxtwave.imgix.net/ccbp-website/academy/recozined-section-mobile-bg.png");
  background-size: cover;
  background-position: 0% 0%;
}

@media screen and (min-width: 770px) {
  .awards {
    background-image: url("https://nxtwave.imgix.net/ccbp-website/academy/recozined-section-desktop-bg-image.png");
  }
}

@media screen and (min-width: 1920px) {
  .awards {
    background-position: 50% 100%;
  }
}